body{
    font-weight: bolder;
    font-family: system-ui;
}

h1{
    font-size: larger;
    font-weight: bold;
    color: blue;
    background-color: aliceblue;
}

h2{
    color: red;
}

h6{
    font-size: larger;
    color: rgb(8, 77, 8);
}